{% extends "base.html" %}
{% block title_html %}
  Client list
{% endblock %}
{% block h1 %}
  Projects list
{% endblock %}
{% block h2 %}
  <h3></h3>
  {% if allclients|length > 0 %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Client</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for client in allclients %}
      <tr>
          <td><a href="client_details-{{ client.id }}">{{ client.id }}</a></td>
          <td><a href="client_details-{{ client.id }}">{{ client.client }}</a></td>
        <td>x</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% else %}


  {% endif %}
{% endblock %}